:root {
    --mainBgColor-light: rgb(249, 250, 251);
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51, 51, 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);

    --mainBgColor-dark: #131415;
    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: #rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;

    --mainBgColor: var(--mainBgColor-light);
    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: var(--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);

}

* {
    font-family: 'Readex Pro', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body {
    background-color: var(--mainBgColor);
}

p,
span,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}

li {
    line-height: 1.9em;
}

.container--main {
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-bottom: 1em;
    padding-top: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
}

@media(max-width:600px) {
    #wrapper--hero {
        flex-direction: column;
    }
}

#bio,
a {
    font-weight: 300;
}

#user-name {
    font-size: 3em;
    line-height: 1em;
}

#profile-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 10em;
    height: auto;
    border: 0.5em solid var(--mainBorderColor);
}

#email {
    color: var(--mainTextColor);
}

#socials--list {
    display: flex;
    justify-content: space-around;
    margin: 1.5em 0 3em 0;
}

#socials--list a {
    color: var(--secondaryTextColor);
    font-weight: 300;
    transition: 0.3s;
}

#socials--list a:hover {
    color: var(--mainLinkColor);
}

#qualifications--list {
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card {
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
    margin: 1.5em 0 3em 0;
}

.line-break {
    background-color: var(--mainBorderColor);
    height: 1px;
}